<div class="header">
	<% if user_signed_in? %>
		<div class="row">
		    <div class="name col-md-9">
	    	  <%= link_to 'Edful', root_path%>
	    	  						<h4><%= "[Hackathon edition]"  %></h4>
		    </div>

			<div class="col-md-3"> 
			  <%= link_to 'Create new link', new_link_path, class: "btn btn-default"%> 
			  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-default" %>
			</div>

		    </div>

	<% else %>
	<div class="row">
	    <div class="name col-md-9">
    	  <%= link_to 'Edful', root_path%>
    	  
    	  <h4><%= "[Hackathon edition]"  %></h4>
	    </div>

		<div class="col-md-3">
		  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-default" %>
		  <%= link_to "Login", new_user_session_path, class: "btn btn-default" %>
		</div>
	    </div>
		
	<% end %>
</div>

