<div class="link_list">
  <% @links.each do |l| %>

    <p>
    	<a href=<%= l.id %> > <%= l.title %> </a> <%= l.language %>
    		:  <%= l.url %><br> [<%= l.vote_count %>]
    	
    </p>

  <% end %>
<div>