<%= form_for @link do |f| %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </p>

  <p>
    <%= f.label :language %><br>
    <%= f.select :language, options_for_select(%w[Java Python C C++ Ruby JavaScript C# HTML CSS]) %>
  </p>

  <p>
    <%= f.submit %>
  </p>


<% end %>