<%= form_for @link do |f| %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </p>

  <p>
    <%= f.label :language %><br>
    <%= f.text_field :language %>
  </p>

  <p>
    <%= f.submit %>
  </p>


<% end %>