<!DOCTYPE html>
<html>
  <head>
    <title>Edful</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div id="logo">
        <p><a href="/">Edful</a></p>
        <p>tagline...tagline...tagline...tagline</p>
      </div>
      <p class="navbar-text pull-right">
        <%= render "shared/nav"%><p>
        
      <%= yield %>
    </div>

  </body>
</html>
